h1 {
    color: rgb(167, 3, 167);
    text-align: center;
}
.container {
    display:inline-flex;
    flex-direction: column;
    align-items: center;
}
img {
    
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 50%;
}
.pocket-pit-img {


}
